.project
/bin/
.idea/
*.iml
out/
.DS_Store
.classpath
.metadata/
info.java
*.class
SpoonacularApi.java
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
